<div class="horizontalWrapper">
    <div class="verticalWrapper">
        <div class="widthLimiter">
            <mat-card *ngIf="word">
                <mat-card-title>{{ word.word }}</mat-card-title>
                <!--                <mat-divider></mat-divider>-->
                <!--                <mat-card-content>How good do you know this?</mat-card-content> -->
                <mat-card-subtitle>How good do you know this word?</mat-card-subtitle>
                <mat-card-actions>
                    <mat-button-toggle-group value="">
                        <mat-button-toggle (click)="sendKnowledge(0)" value="0">
                            Don't know at all
                        </mat-button-toggle>
                        <mat-button-toggle (click)="sendKnowledge(1)" value="1">
                            I'm not sure
                        </mat-button-toggle>
                        <mat-button-toggle (click)="sendKnowledge(2)" value="2">
                            Not so good
                        </mat-button-toggle>
                        <mat-button-toggle (click)="sendKnowledge(3)" value="3">
                            Good
                        </mat-button-toggle>
                        <mat-button-toggle (click)="sendKnowledge(4)" value="4">
                            Excellent
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </mat-card-actions>
                <mat-card-footer *ngIf="sent">
                    You can change your vote
                </mat-card-footer>
            </mat-card>

            <div class="wordInfo" *ngIf="sent">
                <app-word-info [word]="word"></app-word-info>
            </div>
            <div class="wordInfoPlaceholder" *ngIf="!sent">
                <h4>click button upthere</h4>
            </div>
        </div>
    </div>
    <button class="nextWordButton floatingBlock" (click)="nextWord()">
        next word
    </button>
</div>
