<h2>Add new one:</h2>
<form>
    <select *ngIf="languages" name="example" [(ngModel)]="newWordLanguage">
        <option 
            *ngFor="let language of languages"
            [ngValue]="language">
        {{ language.code }}
        </option>
    </select>
    <div *ngIf="!languages">
        languages are loading...
    </div>
  <input #wordInput [(ngModel)]="newWord" id="wordInput" type="text" name="word" title="word">
  <button type="submit" class="button button-primary" (click)="addNewWord(); wordInput.value = ''; $event.preventDefault()">Add</button>
</form>
<table *ngIf="memorizations">
  <thead>
  <tr>
    <td>Language</td>
    <td>Word</td>
    <td>How good you know this word</td>
    <td>When you learnt this word last time</td>
    <td>When you will learn this word next time</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of memorizations">
    <td>{{ item.word.language.code }}</td>
    <td>{{ item.word.word }}</td>
    <td>{{ item.memorizationCoefficient }}</td>
    <td>{{ item.lastUpdateTimestamp }}</td>
    <td>{{ item.nextShowTimestamp }}</td>
  </tr>
  </tbody>
</table>
