.info {
    margin-bottom: 10px;
}

.word {
    /*border-bottom: 2px dashed #4f82d6;
    padding: 5px 15px;*/
}

.info .partOfSpeech {
    color: #888;
}

pre {
    /* TODO: remove it */
    background: aquamarine;
}

.infoPlaceholder {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.sense {
    /*    border-left: 1px solid #eee;*/
}

.pronunciation {
    display: inline-block;
    margin-right: 5px;
}
