<div class="info infoPlaceholder" *ngIf="!wordInformations || wordInformations.length <= 0">
    <mat-spinner></mat-spinner>
</div>

<mat-card class="info" *ngFor="let info of wordInformations">
    <mat-card-title class="word">
        <span>{{ info.headword }}</span>
        <span *ngIf="info.part_of_speech" class="partOfSpeech" title="part of speech">
            ({{ info.part_of_speech }})
        </span>
    </mat-card-title>

    <mat-card-subtitle class="pronunciations" *ngIf="info.pronunciations">
        <div class="pronunciation" *ngFor="let pronunciation of info.pronunciations" title="{{ pronunciation.lang }}">
            <span *ngIf="pronunciation.ipa" class="transcription">
                /{{ pronunciation.ipa }}/
            </span>
            <app-audio-play-button *ngFor="let audio of pronunciation.audio" [url]="'https://api.pearson.com' + audio.url" [title]="audio.lang">
            </app-audio-play-button>
        </div>
    </mat-card-subtitle>

    <mat-card-content>
        <div class="sense" *ngFor="let sense of info.senses">
            <mat-list class="defenitions" *ngIf="sense.definition">
                <h4>Definitions</h4>
                <mat-list-item class="definition" *ngFor="let definition of sense.definition">
                    <span>{{definition}}</span>
                </mat-list-item>
            </mat-list>
            <div class="examples" *ngIf="sense.examples">
                <h4>Examples</h4>
                <mat-list>
                    <mat-list-item *ngFor="let example of sense.examples">
                        <app-word-info-pearson-com-example [exampleData]="example">
                        </app-word-info-pearson-com-example>
                    </mat-list-item>
                </mat-list>
            </div>
            <div class="grammaticalExamples" *ngIf="sense.gramatical_examples">
                <h4>Grammatical Examples</h4>
                <div *ngFor="let grammaticalExample of sense.gramatical_examples">
                    <div class="grammaticalExample">
                        <p>Expression: {{ grammaticalExample.pattern }}</p>
                        <mat-list>
                            <mat-list-item *ngFor="let example of grammaticalExample.examples">
                                <app-word-info-pearson-com-example [exampleData]="example"></app-word-info-pearson-com-example>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </div>
                <div class="crossReferences" *ngIf="sense.cross_references">
                    <h4>Cross references</h4>
                    <span *ngFor="let crossReference of sense.cross_references">
                        {{ crossReference.headword }},
                    </span>
                </div>
                <div class="relatedWords" *ngIf="sense.related_words">
                    <h4>Related words</h4>
                    <span class="relatedWord" *ngFor="let relatedWord of sense.related_words">
                        {{ relatedWord }},
                    </span>
                </div>
                <div class="synonyms" *ngIf="sense.synonyms">
                    <h4>Synonyms</h4>
                    <span class="synonym" *ngFor="let synonym of sense.synonyms">
                        {{ synonym }},
                    </span>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
