<div class="wrapper">
  <div class="error" *ngIf="errorString">
    Error: {{ errorString }}
  </div>
  <form class="loginForm">
    <fieldset>
      <legend>Login</legend>
      <div class="form-field">
        <label for="usernameInput">Username:</label>
        <input [(ngModel)]="username" id="usernameInput" name="username" type="text" required>
      </div>
      <div class="form-field">
        <label for="passwordInput">Password:</label>
        <input [(ngModel)]="password" id="passwordInput" name="password" type="password" required>
      </div>
    </fieldset>
    <div class="form-buttons">
      <button type="submit" class="button button-primary" (click)="login(); $event.preventDefault()">Login</button>
    </div>
  </form>
</div>
